{% extends 'base.html.twig' %}

{% block body %}
    <articles>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdat | date ('d/m/Y') }} à {{ article.createdat | date ('H:i') }} dans la catégorie {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
        </div>
    </articles>

    <section id="commentaires">
        <h1>{{ article.comments | length }} commentaires: </h1>
        {% for comment in article.comments %}
            <div class="commentaire">
                <div class="row">
                    <div class="col-3">
                        {{comment.author}} (<small>{{comment.createAt | date ('d/m/Y à H:i')}}</small>)
                    </div>
                    <div class="col">
                        {{comment.content | raw}}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if app.user %}
        <h2>Laissez un commentaire: </h2>

        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'attr': {'placeholder': "votre nom"}}) }}
        {{ form_row(commentForm.content, {'attr': {'placeholder': "votre commentaire"}}) }}
 
        <button type="submit" class="btn btn-success">Validez</button>
        {{ form_end(commentForm) }}

        {% else %}
            <h2>Vous devez être connecté pour commenter l'article</h2>
            <a href="{{path('security_login')}}" class="btn btn-primary">connexion</a>
        {% endif %}

    </section>
{% endblock %}
